<!-- post request logically do not need a show file -->
<div class="container">
  <h1>Create a task</h1>



  <%= bootstrap_form_for(@task) do |t| %>
    <!-- <%= t.label :title %> -->
    <%= t.text_field :title %>

    <!-- <%= t.label :details %> -->
    <%= t.text_field :details %>

    <!-- <%= t.label :completed %> -->
    <%= t.text_field :completed %>

    <%= t.submit %>
  <% end %>

  <br>
  <br>
  <br>

  <%= link_to "Back to home", tasks_path  %>
</div>
